<!--<div>-->
  <!--<a routerLink = '/' class = 'button' routerLinkActive="success" [routerLinkActiveOptions] = '{exact: true}'>Dashboard</a>-->
  <!--<a routerLink = '/songs' class = "button" routerLinkActive = "success">Songs</a>-->

<!--</div>-->



<div class="card text-center">
  <div class="card-header">

    <ul class="nav nav-pills card-header-pills">
      <li class="nav-item">
        <a class="nav-link" routerLink = '/'  routerLinkActive="success" [routerLinkActiveOptions] = '{exact: true}'>Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink = '/songs' routerLinkActive = "success">Songs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink = '/master-data' routerLinkActive = "success">Master Data</a>
      </li>
    </ul>
  </div>
</div>



